/* variable declarations */
:root {
    --myapp-color-background: white;
    --list-item-padding: 12px;
    --list-item-border-width: 2px;
    --navbar-height: 50px;
    --navbar-padding: 10px;
    --main-list-top-spacer-height: 25px;
}

html, body {
    background-color: var(--myapp-color-background);
    margin: 0px;
    font-family: "Avenir Medium", sans-serif;
    color: black;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    font-size: 62.5%;
}

/* block text selection */

* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 2.4rem;
    font-weight: normal;
}

.main-container {
    height: 100vh;
    width: 100vw;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--navbar-padding);
    max-width: 100vw;
    height: var(--navbar-height);
    background-color: white;
    font-size: 2.6rem;
    border-bottom: solid 3px darkgray;
}

.nav-inner-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    height: 100%;
}

.nav-icon {
    width: auto;
    min-height: 30px;
    height: 4vh;
}

main {
    width: 100%;
    overflow: scroll;
    height: calc(100% - 2 * var(--navbar-height) - var(--main-list-top-spacer-height) - 2 * var(--navbar-padding));
}

.main-list-top-spacer {
    width: 100%;
    height: var(--main-list-top-spacer-height);
    background-color: lightgray;
}

.main-list-item {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: calc(100% - 2 * var(--list-item-padding) - 2 * var(--list-item-border-width));
    background-color: white;
    border: var(--list-item-border-width) solid darkgray;
    border-top: none;
    padding: var(--list-item-padding);
}

.main-list-item-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-list-item-inner-container-right {
    align-items: end;
    width: 100%;
}

.main-list-item-img-src,.main-list-item-date {
    font-size: 1.2rem;
    color: darkgrey;
}

.main-list-item-img-title {
    font-size: 1.8rem;
}

.available-tags-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 5px;
}

.available-tags-count {
    font-size: 1.2rem;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
    height: var(--navbar-height);
    background-color: ghostwhite;
    padding: var(--navbar-padding);
    box-shadow: orangered 0 -3px;
}

.footer-icon {
    width: auto;
    height: 4vh;
    min-height: 30px;
}

.standard-button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
}
