/* variable declarations */
:root {
    --myapp-color-background: white;
    --list-item-padding: 12px;
    --list-item-border-width: 2px;
    --navbar-height: 50px;
    --navbar-padding: 10px;
    --main-list-top-spacer-height: 25px;
    --main-list-item-default-text-color: darkgray;
}

/* common */
* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    padding: 0;
    margin: 0;
}

html, body {
    background-color: var(--myapp-color-background);
    margin: 0;
    font-family: "Avenir Medium", sans-serif;
    color: black;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    font-size: 62.5%;
}

h1 {
    font-size: 2.4rem;
    font-weight: normal;
}

.standard-button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    width: 35px;
    height: 35px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.list-view, .tile-view {
    height: 100vh;
    width: 100vw;
}

.icon {
    filter: invert(60%);
    -webkit-filter: invert(60%);
}

/* navbar top - list */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--navbar-padding);
    max-width: 100vw;
    height: var(--navbar-height);
    background-color: white;
    font-size: 2.6rem;
    border-bottom: solid 3px darkgray;
}

.nav-inner-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    height: 100%;
}

#burger-menu-icon {
    background-image: url("./img/png/menu_FILL0_wght400_GRAD0_opsz24.png");
}

#view-type-icon {
    background-image: url("./img/png/grid_view_FILL0_wght400_GRAD0_opsz24.png");
}

#add-icon {
    background-image: url("./img/png/add_FILL0_wght400_GRAD0_opsz24.png");
}

/* navbar top - tile */
.tile-view #view-type-icon {
    background-image: url("./img/png/list_FILL0_wght400_GRAD0_opsz24.png");
}

/* main view - list */
main {
    width: 100%;
    overflow: scroll;
    height: calc(100% - 2 * var(--navbar-height) - var(--main-list-top-spacer-height) - 2 * var(--navbar-padding));
}

/* main items */
.main-list-top-spacer {
    width: 100%;
    height: var(--main-list-top-spacer-height);
    background-color: lightgray;
}

.main-list-item {
    display: flex;
    flex-direction: row;
    gap: 15px;
    background-color: white;
    border: var(--list-item-border-width) solid darkgray;
    border-top: none;
    padding: var(--list-item-padding);
}

.main-list-item-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-list-item-inner-container-right {
    align-items: end;
    width: 100%;
}

.main-list-item-img-src,.main-list-item-date,.available-tags-count {
    font-size: 1.2rem;
    color: var(--main-list-item-default-text-color);
}

.main-list-item-img-title {
    font-size: 1.8rem;
}

.available-tags-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 5px;
}

.options-icon {
    background-image: url("./img/png/more_vert_FILL0_wght400_GRAD0_opsz24.png");
    width: 25px;
    height: 25px;
}

/* main items - tile */
.tile-view .main-list-item {
    position: relative;
    display: inline-block;
    flex-direction: unset;
    gap: unset;
    border: unset;
    padding: 2px;
}

.tile-view ul {
    padding: 5px;
}

.tile-view .main-list-item-img-src, .tile-view .main-list-item-date,
.tile-view .available-tags-container, .tile-view .main-list-item-img-title {
    display: none;
}

.tile-view .options-icon {
    filter: invert(90%);
    -webkit-filter: invert(90%);
}

.tile-view .main-list-item-inner-container {
    all: unset;
}

.tile-view .main-list-item-inner-container-right {
    position: absolute;
    top: 95px;
    left: 95px;
}

/* footer */
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
    height: var(--navbar-height);
    background-color: ghostwhite;
    padding: var(--navbar-padding);
    box-shadow: orangered 0 -3px;
}

.footer-icon {
    width: auto;
    height: 4vh;
    min-height: 30px;
}
